@import "tailwindcss";
@import "@nuxt/ui";

@theme {
  /* Fonts */
  --font-sans: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --font-heading: 'Montserrat', Arial, Helvetica, sans-serif;
}

:root {
  /* Colors */
  --ui-primary: #a54499;
  /* nnt-purple (brand) */
  --ui-secondary: #ffc425;
  /* nnt-orange (brand) */
  --ui-tertiary: #2d9189;
  /* alternate/accent */
  --ui-success: #28a745;
  --ui-info: #17a2b8;
  --ui-warning: #ffcc00;
  --ui-error: #ff4d4d;

  /* Radius & Container */
  --ui-radius: 0.4rem;
  --ui-container: 1240px;
}
